<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Squatch Sports Basketball Training WatchOS Companion.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>Squatch Sports WatchOS Companion Watch App.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>EA0E87F82F33C3CE0048AD23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA0E88072F33C3D00048AD23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA0E88112F33C3D00048AD23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA0E88282F33C5570048AD23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA0E88342F33C5590048AD23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>EA0E883E2F33C5590048AD23</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
